body {
  div {
    .cover {
      position: absolute;
      width: 100vw;
      max-height: 100vh;
      z-index: -1;
    }
    .container {
      padding-top: 20vh;
      .form {
        align-items: center;
        margin: auto;
        width: 50%;
        h1 {
          padding-bottom: 5vh;
        }
      }
    }
  }
}
