.main-page {
  display: flex;
  .bg-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 5%;
    width: 60%;
    margin: auto;
    h1 {
      padding-bottom: 5vh;
    }
  }
}

@media screen and (max-width: 700px) {
  .main-page {
    .form {
      width: 80%;
    }
  }
}
